@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
/* font-style */
.inter-font {
    font-family: "Inter", sans-serif;
  
    width: 90%;
    margin: 0 auto;
  }
  .shape-font {
    font-family: "Miama", sans-serif;
  }
  .span-font {
    font-family: "Style Script", cursive;
    font-style: italic;
  }
  .bg-color {
    background-color: black;
    color: white;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .header-contant {
    background: linear-gradient(
      180deg,
      rgb(17, 17, 17),
      rgba(119, 119, 119, 0) 100%
    );
  }
  /* nav style  */
.nav-contant {
    display: flex;
    justify-content: space-between;
  }
  .nav-fitness {
    margin-top: 1rem;
  }
  .span-one {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    margin-left: 10rem;
  }
  
  .nav-li-contant {
    list-style: none;
    display: flex;
    margin-right: 10rem;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 10px;
  }
  .nav-li-contant a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 1rem;
  }
  
  .home {
    background-color: red;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
  }
  /* banner section */

.banner-section {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
  }
  
  .banner-section-text h2 {
    font-size: 78px;
    font-weight: 900;
    color: rgb(255, 255, 255);
  }
  
  .banner-section-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .one {
    border: none;
    padding: 15px;
    margin-top: 1rem;
    margin-right: 10px;
    border-radius: 25px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
  }
  .two {
    border: none;
    padding: 15px;
    margin-top: 1rem;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
  }
  .banner-section-picture {
    padding: 5px;
    position: relative;
  }
  .videos-tutorial {
    width: 180px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
    position: absolute;
    bottom: 21rem;
    left: 18rem;
  }
  .free-workout {
    width: 180px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
    position: absolute;
    bottom: 4rem;
    left: -8rem;
  }
  .free-workout h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    padding: 5px;
  }
  .free-workout p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    padding-left: 5px;
  }
  
  .videos-tutorial h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    padding: 5px;
  }
  .videos-tutorial p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    padding-left: 5px;
  }
  /* change-habits */
.change-habits {
    text-align: center;
    margin-top: 5rem;
  }
  .change-habits h2 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
  }
  .change-habits p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
  }
  .change-habits-picture {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 8rem;
    margin-top: 2rem;
    text-align: center;
    margin-right: 8rem;
  }
  
  .change-habits-picture img {
    border-radius: 100%;
  }
  .change-habits-picture h3 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
  }
  .change-habits-picture p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  